<br>
<br>
<br>
<hr>
<div class = "form-group text-center">
<h1 class = "lead">Ask for advice</h1>
  <form action="/answer" method="get">
    <div class = "form-group">
    <input type="text" id="question" name="question" placeholder="I need a boat?">
    </div>
    <div class = "form-group">
    <input type="submit" value="Go on!" class= "btn btn-primary">
    </div>
  </form>
</div>
<hr>


