<div class= "text-center">
<br>
<br>
<p>Welcome to the longest word-game !</p>
<p>Here is your grid :</p>
<%= @joined%>
<br>
<br>
<h1 class = "lead">Create a word</h1>
  <form action="/score" method="get">
    <div class = "form-group">
    <input type="text" id="guess" name="guess" placeholder="word">
    </div>
    <div class = "form-group">
    <input type="submit" value="Go on!" class= "btn btn-primary">
    <input type="hidden" name="grid" value= "<%=@grid%>" >
    </div>

  </form>
</div>
