<div id="banner">
  <div class="banner-content">
    <h1>PTY BROTHERS</h1>
    <p>Skate Surf Longboard</p>
    <div class = "btn btn-danger">
      <a href="#">Check us</a>
      </div>
    </div>
</div>

